<!DOCTYPE html>
<html>
    
<head>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
	
	<title>List of Users</title>
</head>

<body>
	<div class="container">
	<h1>Welcome</h1>
	<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-center"><h3>All Rooms in the Hotel</h3></div>
			
			<table class="table" id="example">
			  <thead class="thead-dark">
			    
		       <tr >
		       <th:block th:each="column : ${tableHead}">
		       <th th:text="${column}"></th>
		       </th:block>
		       		
			   <tr> 
			  </thead>
			  <tbody>
			    
			    <tr th:if="${users.empty}">
		            <td colspan="5"> No User Available </td>
		        </tr>
		        <tr th:each="_users : ${users}">
		        	<th:block th:each="user :${_users}">
		        		<th:block th:each="eachTableHead : ${tableHead}">
		        			<td><span th:text="${user.get(eachTableHead)}">  </span></td>
		        		</th:block>
		        	</th:block>
		        	
		        </tr>
		         <!--   <td scope="row"><span th:text="${user.id}">  </span></td>
		            <td><span th:text="${user.phoneNumber}">  </span></td>
		            <td><span th:text="${user.password}"> </span></td>
		            <td><span th:text="${user.roles}"> </span></td>
			      <td><button style="font-size:18px; border-radius: 5px" class="warning fa fa-edit"> </button> <button style="font-size:18px; border-radius: 5px" class="warning fa fa-trash-o"> </button> <button style="font-size:18px; border-radius: 5px" class="warning fa fa-eye"> </button> </td>
		        --> 
		        
			  </tbody>
			</table>
			
		</div>
	</div>
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	  <script>
		  $(function(){
		   //$("#example").dataTable();
		  })
		</script>
</body>

</html>
